<div class="sidebar sticky-top"> 
    <div class="sidebar-section">
        <h5><span>Certifications</span></h5>
        <a href="https://www.youracclaim.com/badges/24d85e41-3054-4dd7-8f20-c43760e94ee8" target="_blank"><img src="{{site.baseurl}}/assets/images/pl300.png"></a>
        <img src="{{site.baseurl}}/assets/images/pl100.png">
        <img src="{{site.baseurl}}/assets/images/az900.png">
        <img src="{{site.baseurl}}/assets/images/pl900.png">
    </div>

    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
   <!-- 
    <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
    -->
</div>