<div class="sidebar sticky-top"> 
    <div class="sidebar-section">
        <h5><span>Certifications</span></h5>
        <a href="https://www.credly.com/badges/ce7cb140-8334-4713-a786-0d1f463ae698" target="_blank"><img src="{{site.baseurl}}/assets/images/pl300.png"></a>
        <a href="https://www.credly.com/badges/0c890e52-33f9-4111-ba2b-ae95c77d5864" target="_blank"><img src="{{site.baseurl}}/assets/images/pl100.png"></a>
        <a href="https://www.credly.com/badges/2c01d8be-51cc-424d-9f86-4c2a5c93dc67" target="_blank"><img src="{{site.baseurl}}/assets/images/az900.png"></a>
        <a href="https://www.credly.com/badges/25ad2b9a-ef69-4d72-9b94-095b7f863053" target="_blank"><img src="{{site.baseurl}}/assets/images/pl900.png"></a>
    </div>

    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
   <!-- 
    <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
    -->
</div>